/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #110;
    overflow: scroll;
    overflow-x: hidden;
}

a {
	/*color: #555;*/
	/*color: #ce8;*/
	color: #444;
	text-decoration: none;
}

.container {
	width: 100%;
	position: relative;
}

.container > header {
	width: 100%;
	margin: 0 auto;
	position: relative;
	padding: 0 30px 50px 30px;
}

.container > header {
	padding: 10px 10px 10px;
	text-align: left;
}

.container > header h1 {
	font-size: 34px;
	line-height: 38px;
	margin: 0 auto;
	font-weight: 700;
	color: #444;
}

.container > header h1 span {
	font-size: 16px;
	color: #555;
}

.container > header p {
	padding: 8px 0px 0px 0px;
	float: right;
	color: #fff;
}

.main > p {
	text-align: center;
	padding: 50px 20px;
}
